// override variables

$icon-font-path: "fonts/";
$font-family-serif: "Roboto Slab", serif;
$font-family-sans-serif: "Open Sans", sans-serif;
$headings-font-family: $font-family-serif;


$brand-primary: #42afe3;
$brand-success: #97cd76;
$brand-info: #1fc8db;
$brand-warning: #fce473;
$brand-danger: #ed6c63;
